<table class='container app-border'>
  <tr class='row'>
    <th class='col-md-2'>Header 1 </th>
    <th class='col-md-2'>Header 2 </th>
    <th class='col-md-2'>Header 3 </th>
  </tr>
  <tr class='row'>
    <td class='col-md-2'>Row 1 Col 1 </td>
    <td class='col-md-2'>Row 1 Col 2 </td>
    <td class='col-md-2'>Row 1 Col 3 </td>
  </tr>
  <tr class='row'>
    <td class='col-md-2'>Row 2 Col 1 </td>
    <td class='col-md-2'>Row 2 Col 2 </td>
    <td class='col-md-2'>Row 2 Col 3 </td>
  </tr>
</table>

<router-outlet></router-outlet>
