<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
  <a class="navbar-brand" href="#"><i class="fas fa-home"></i>    Home</a>
  <a class="dropdown-item"> </a>
  <a class="dropdown-item" routerLink="/flashcards">Flashcards</a>
  <a class="dropdown-item" routerLink="/chart">Chart</a>
  <ul class="navbar-nav mr-auto">
  <li ngbDropdown class="nav-item">
    <a ngbDropdownToggle id="navbarMenu1" class="nav-link dropdowntoggle" role="button">
      Menu1
      </a>
      <div ngbDropdownMenu aria-labelledby="navbarMenu1" class="dropdownmenu">
      <a class="dropdown-item" routerLink="/test-page1">Test Page1</a>
      </div>
  </li>
  <li ngbDropdown class="nav-item">
  <a ngbDropdownToggle id="navbarMenu2" class="nav-link dropdowntoggle" role="button">
  Menu2
  </a>
  <div ngbDropdownMenu aria-labelledby="navbarMenu2" class="dropdownmenu">
  <a class="dropdown-item" routerLink="/lesson-edit-form">Lesson Edit Form...</a>
  <a class="dropdown-item" routerLink="/lesson-search-page">Lesson Search Page...</a>
  </div>
  </li>
  </ul>
  </div>
 </nav>

 <div class="container" *ngIf="isHomePage()">
  <h1 class="my-4">Home Page</h1>

  <div class="welcome-message">
    Welcome to the home page! Please navigate to the other pages using the navigation bar above.<br>
  </div>
  <br> 
  <div class="quick-links">
    <h2>Quick Links:</h2>
    <ul>
      <li><a routerLink="/flashcards">Flashcards</a></li>
      <li><a routerLink="/flashcard-add">Add Flashcard</a></li>
      <li><a routerLink="/statistics">Statistics</a></li><br>
      <li><a routerLink="/chart">Chart</a></li>
    </ul>
  </div>
  <br>
  <div class="td-pages">
    <h2>Pages from the TDs:</h2>
    <ul>
      <li><a routerLink="/test-page1">Test Page 1</a></li>
      <li><a routerLink="/lesson-search-page">Lesson Search Page</a></li>
      <li><a routerLink="/lesson-edit-form">Lesson Edit Form</a></li>
    </ul>
  </div>
  <br><br>
  <div class="creators">
    <h2>Creators of this Node Project:</h2>
    <ul>
      <li>Martin Liger</li>
      <li>Emma Kilbertus</li>
      <li>Raphael Michon</li>
    </ul>
  </div> 
</div>
 <router-outlet></router-outlet>